/* 
body, html styles 
fonts settings with /source/css/fonts.css
*/
body, html {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* start header content */
header {
  padding: 1vw 2vw;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
}

.bio-container {
  display: flex;
  align-items: center;
}

#bio-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  transition: transform 0.5s ease-in-out;
}

#bio-avatar:hover {
  transform: rotate(360deg);
}


#bio-text {
  margin: 0;
}

#gif-image {
  margin-left: 10px;
}

.tab-link {
  display: flex;
  gap: 20px;
  margin: 0 -20px;
}

.tab-link a {
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.tab-link a:hover {
  background-color: #ddd;
  color: #333;
}

/* end header */

/* start main content  */

main {
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
  box-sizing: border-box;
}

/* end main */


footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}