body, html {
    background: #141414;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a, p {
    color: white;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all .5s;
}

div {
    width: fit-content;
    height: fit-content;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: all .5s;

    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

div.bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

p.bio {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, .5);
    margin-top: 4px;
}

p.control {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, .7);
    margin-top: 4px;
    cursor: pointer;
    transition: all .3s;
    user-select: none;
}

p.control:hover {
    color: rgba(255, 255, 255, 1);
}

.control:nth-child(1) {
    margin-right: auto;
}

.control:nth-last-child(1) {
    margin-left: auto;
}

.control:nth-last-child(1), .control:nth-child(1) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

div.link-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    transition: all .5s;
}

a.link {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: none;
    color: rgba(255, 255, 255, .7);
    transition: all .3s;
}

div.divider {
    background: rgba(255, 255, 255, .2);
    width: 2px;
    height: 30px;
    transition: all .3s;
}

a.link:hover {
    font-size: 24px;
}

a.text:hover {
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

a.text::before {
    content: ">";
    transform: translateX(-10px) scale(.5);
}

a.text::after {
    content: "<";
    transform: translateX(-5px) scale(.5);
}

#back::before {
    content: "";
}

#back::after {
    content: "";
}

a.text::before, a.text::after {
    position: fixed;
    color: transparent;
    transition: all .3s;
}

a.text:not(.act):hover::before, a.text:not(.act):hover::after {
    color: rgba(255, 255, 255, .7);
}

a.text:not(.act):hover::before {
    transform: translateX(-20px) scale(1);
}

a.text:not(.act):hover::after {
    transform: translateX(5px) scale(1);
}

a.link:not(.text):hover {
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

div#text-container {
    width: 40rem;
    max-width: 80vw;
    margin-top: 4px;
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: all .5s;
}

#text {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255,255,255,0);
    width: 100%;
    transition: all .5s;
    height: fit-content;
}

img {
    width: 128px;
    height: 128px;
    border-radius: 50px;
    object-fit: cover;
}

/* 
TO-DO:
Make a great media screen. (now i'm lazy)
*/
@media only screen and (max-width: 600px) {

    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
    }

    div.container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .link {
        margin-bottom: 10px;
    }

    .link-container {
        flex-direction: column;
        align-items: center;
    }

    #btn-container {
        width: 100%;
    }

    a.link {
        font-size: 16px;
    }
}