* {
    background-color: rgba(82, 82, 82, 0.479);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-pos-header {
    text-align: center;
}

.about_me_first {
    text-align: center;
}

.csharp_science {
    text-align: center;
}

.python_science {
    text-align: center;
}

.web_science {
    text-align: center;
}

.game_info {
    text-align: center;
}

.footer {
    text-align: center;
}